.column {
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;
  &:not(:first-child) {
    margin-left: $gap;
  }
  margin-left: $gap;
  > * {
    background: $appbar-bg-card;
    color: black;
    padding: 0 8px;
  }
  &-header {
    padding: 5px 8px;
    height: $height-header;
    line-height: $height-header;
    font-size: 1.6rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    display: flex;
    &__title {
      flex: 90%;
    }
    &__dropdown {
      flex: 10%;
      .dropdown-btn {
        margin-left: 4px;
        height: 32px;
        margin-top: -15px;
        padding: 0 $gap;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: $appbar-bg-card;
        border-color: $appbar-bg-card;

        &::after {
          content: '...';
          border: none;
          vertical-align: 1.255em;
        }
        &:hover {
          background: darken($appbar-bg-card, 10);
          border-color: darken($appbar-bg-card, 10);
        }
      }
    }
  }
  &-footer {
    padding-left: 15px;
    height: $height-footer;
    line-height: $height-footer;
    font-size: 1.6rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &-list {
    list-style: none;
    max-height: calc(#{$column-height} - #{$height-footer} - #{$height-header});
    overflow-y: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background: darken($appbar-bg-card, 10);
      border-right: 5px solid $appbar-bg-card;
    }
    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
    }
    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
    }
    .card-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
  }
  .add-card {
    margin-bottom: $gap;

    .columns-new__input {
      min-height: 56px;
      max-height: 120px;
    }
  }
  &-footer {
    .footer-actions {
      // margin-left: 8px;
      color: #888;
      cursor: pointer;
      &:hover {
        color: #333;
      }
    }
  }
}
