.navbar-board {
  height: $appboard-height;
  padding-left: $gap;
  display: flex;
  align-items: center;
  font-size: 3rem;
  .container-fluid,
  .row,
  .col {
    height: 100%;
  }
  .list-nav {
    &.right {
      justify-content: flex-end;
    }
    display: flex;
    height: 100%;
    list-style: none;
    padding: 0;
    // justify-content: space-between;
    .nav-item {
      position: relative;
      display: flex;
      align-items: center;
      color: white;
      font-size: 14px;
      background: rgba(244, 244, 244, 0.3);
      margin: 4px 8px;
      padding: 10px;
      border-radius: 2px;
      &:last-child {
        &::after {
          display: none;
        }
      }
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: -10px;
        width: 2px;
        height: 20px;
        background: rgba(244, 244, 244, 0.3);
        transform: translateY(-50%);
      }
      &:hover {
        cursor: pointer;
        filter: brightness(90%);
      }
      input {
        outline: none;
        border: none;
        background: transparent;
        color: white;

        &::placeholder {
          color: white;
        }
      }
      &__icon {
        font-size: 18px;
        + span {
          margin-left: 6px;
        }
      }
    }
    .nav-item-acc {
      margin: 0 8px;
      display: flex;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        padding: 4px 2px;
        vertical-align: unset;
      }
      .acc-count {
        color: white;
        font-size: 11px;
        padding: 10px;
        margin-right: 10px;
        border-radius: 50%;
        background: rgba(244, 244, 244, 0.3);
      }
    }
  }
  .logo_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    img {
      height: 60%;
      vertical-align: unset;
    }
  }
}
