.board-columns {
  height: $appcontent-height;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  // margin: 0 $gap $gap;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-opacity-bg;
    border-radius: 4px;
  }
  .columns-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .columns-add {
    width: 300px;
    height: 32px;
    line-height: 32px;
    margin-left: $gap;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 4px 0 4px 15px;
    background-color: hsla(0, 0, 100%, 0.24);
    border-radius: 5px;
    &:hover {
      background-color: hsla(0, 0, 100%, 0.34);
    }
  }
}
