.board-columns {
  height: $appcontent-height;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  &::after {
    content: '';
    flex: 0 0 $gap;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-opacity-bg;
    border-radius: 4px;
  }
  .columns-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .columns-add {
    width: 300px;
    max-width: 250px;
    line-height: 32px;
    margin-left: $gap;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 4px 0 4px 15px;
    background-color: hsla(0, 0, 100%, 0.24);
    border-radius: 5px;
    &:hover {
      background-color: hsla(0, 0, 100%, 0.34);
    }
  }
  .columns-new {
    background: $appbar-bg-card;
    width: 300px;
    max-width: 250px;
    line-height: 32px;
    padding: 4px 10px;
    margin-left: $gap;
    border-radius: 5px;
    textarea:focus,
    textarea.form-control:focus,
    input.form-control:focus,
    input[type='text']:focus,
    input[type='password']:focus,
    input[type='email']:focus,
    input[type='number']:focus,
    [type='text'].form-control:focus,
    [type='password'].form-control:focus,
    [type='email'].form-control:focus,
    [type='tel'].form-control:focus,
    [contenteditable].form-control:focus {
      box-shadow: none;
    }
    &__input {
      font-size: 1.4rem;
      margin: 5px 0;
    }
  }
}
