@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');
$gap: 10px;

$appbar-height: 5vh;
$appboard-height: 6vh;
$appcontent-height: 88vh;
$column-height: calc(#{$appcontent-height} - #{$gap * 2});

$appbar-bg-color: #023e8a;
$appbar-bg-card: #eaedee;
$grey-opacity-bg: rgba(255, 255, 255, 0.3);
$board-bg-color: #0077b6;

$height-header: 46px;
$height-footer: 46px;
