@import './setting';
@import './components/AppBar/AppBar';
@import './components/AppBoard/AppBoard.scss';
@import './components/AppContent/AppContent.scss';
@import './components/Column/Column.scss';
@import './components/Card/Card.scss';

* {
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
}
.App {
  height: 100vh;
  background: $board-bg-color;
  .icon {
    font-size:14px;
    margin-right:3px;
  }
}
